 html, body{
    margin: 0;
    padding: 0;
 }

.container{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 30%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.form-heading{
    font-size: 30px;
    text-align: center;
    color: rgb(3, 75, 104);
}

.form-text{
    text-align: center;
    margin-top: 0;
}

.form{
    margin-top: 10px;
}

.field{
    display: flex;
    flex-direction: column;
}

.form-label{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    color: rgb(15, 154, 229);
}

.form-input{
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
    background-color: rgb(242, 241, 241);
    border: none;
}

.form-input:focus{
    outline: none;
}

.button-box{
    display: flex;
    justify-content: center;
}

.form-button{
    width: 30%;
    background-color: rgb(3, 75, 104);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}