html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
}

.spin{
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}