.parent-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: aqua;
}

.left-side-container{
    width: 50%;
    height: 100%;
    background-color: red;
    padding: 20px;
}

.right-side-container{
    width: 50%;
    height: 100%;
    background-color: blue;
    padding: 20px;
}

.heading{
    font-size: 30px;
    color: white;
}

.heading-center{
    font-size: 30px;
    color: white;
    text-align: center;
}